html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100vw;
  font-family: var(--font-family-main);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;

  color: var(--cl-txt-main);
  background-color: var(--bgc-main);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
