:root {
  // fonts
  --font-family-main: 'DM Sans',
      sans-serif;
  --font-family-title: 'Titan One',
      cursive;

  // text
  --cl-txt-main: #000000;
  --cl-txt-second: #907E82;
  --cl-txt-white: #ffffff;
 
  // background
  --bgc-main: #ffffff;

  // transition
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --slow-anim: 200ms ease;
  --fast-anim: 350ms ease-in-out;
}