<section class="section about" id="about">
  <div class="container about-container">
    <p class="uppertitle label-title">Обо мне</p>
    <h2 class="section-title about__section-title">
      Меня зовут Анна Магуран, и я уже более 11-ти лет снимаю настоящие чувства
      и неповторимо важные моменты Вашей жизни. Ловлю живые и искренние эмоции,
      создавая фото, которыми вы будете любоваться спустя годы. На моих фото вы
      не увидите много ретуши и обработки, хочу чтоб вы были максимально
      настоящими, ретушь моя выглядит всегда натурально и ненавязчиво. Вместе мы
      сможем передать все краски особенных, радостных событий, которые были в
      тот момент! Для меня фотография – это рисунок памяти способный запечатлеть
      все детали, которые нам помогут напомнить тот воздух, те запахи, те
      чувства и эмоции.
    </h2>
    <div class="wrapper">
      <picture class="about-picture">
        <img
          class="about-img"
          src="/src/images/me.jpg"
          alt="about my self"
          width="300"
          height="300"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
