<section class="section about" id="about">
  <h2 class="label-title">Обо мне</h2>
  <div class="container about-container">
    <h3 class="about-container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore,
      exercitationem sunt praesentium natus voluptas atque debitis ad nobis
      facere enim, necessitatibus ea, veniam aspernatur tempora mollitia
      distinctio veritatis delectus perspiciatis vero nesciunt. Rem laborum
      minus modi reprehenderit laboriosam veritatis iste maxime dolorum neque,
      dignissimos impedit eaque corporis eius inventore debitis doloremque!
      Molestias reiciendis deleniti, nemo iure provident debitis voluptatum quo
      odio, magnam voluptatibus dicta enim fugiat culpa, consequuntur esse
      voluptatem quis doloribus nisi voluptas. Laborum et unde quae quis ea.
    </h3>
    <div class="wrapper">
      <picture class="about-picture">
        <img
          class="about-img"
          src="/src/images/me.jpg"
          alt="about my self"
          width="300"
          height="300"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
