<section class="section about" id="about">
  <h2 class="label-title">Обо мне</h2>
  <div class="container about-container">
    <h3 class="about-container__text">
      1.Коммерческий фотограф 12 лет <br />
      2.Более 3000 съемок <br />
      <p class="about-container__p">
        Эта программа хороша как для начинающих, так и для практикующих
        фотографов. Полученные знания можно применять в любом виде съёмок, от
        контента для магазина до творческих съёмок. Структурированные знания в
        моей авторской методике и архив домашних заданий позволят быстро освоить
        новые техники съёмки и применить их на практике.
      </p>
    </h3>
    <div class="wrapper">
      <picture class="about-picture">
        <img
          class="about-img"
          src="/src/images/me.jpg"
          alt="about my self"
          width="300"
          height="300"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
