<section class="section advantages" id="advantages">
  <h2 class="visually-hidden">Courses advantage</h2>
  <div class="container advantages__container">
    <ul class="advantages__list list">
      <li class="advantages__item">
        <h3 class="advantages__item__text">
          Курс разработан для всех уровней навыков, начиная с базовых основ
          фотографии и предлагает полный набор знаний и практических навыков,
          необходимых для создания крутых снимков. На моем авторском курсе вы
          овладеете техническими понятиями, основными параметрами и настройками
          фотоаппарата. Мой авторский фотокурс также посвящен творческим
          аспектам фотографии, такими как композиция, жанры и использование
          света во время съемки в разных условиях. Научу работать со студийным
          оборудованием, а еще покажу и расскажу, как работать с моделью. Также
          обязательно на курсе коснемся темы обработки фотографий, включая
          работу с программой Adobe Photoshop. Совокупность полученных знаний на
          курсе даст тебе возможность делать профессиональные снимки и начать
          работать и зарабатывать в удовольствие.
        </h3>
      </li>
    </ul>
    <div class="start-time">
      <div class="start-time__list">
        <h2 class="start-time__schedule">
          <strong>Начало:</strong>
          <span style="color: #800000">25&nbsp;сентября</span>
          <strong>Количество занятий:</strong>
          15
          <strong>Дни:</strong>
          Вторник и Четверг
        </h2>
        <h2 class="start-time__schedule">
          <strong>Время:</strong>
          19:00
        </h2>
      </div>
    </div>
  </div>
</section>
