<section class="section advantages" id="advantages">
  <h2 class="visually-hidden">Courses advantage</h2>
  <div class="container advantages__container">
    <ul class="advantages__list list">
      <li class="advantages__item">
        <h3>
          Предлагаю вам возможность освоить все аспекты фотографии, начиная с
          основ. Курс разработан для всех уровней навыков и предлагает полный
          набор знаний и практических навыков, необходимых для создания
          впечатляющих фотографий. На моем авторском курсе вы овладеете
          техническими понятиями фотографии, включая различные типы камер,
          объективы, основные параметры и настройки камеры.
        </h3>
      </li>
      <li class="advantages__item">
        <h3>
          Мой курс также посвящен творческим аспектам фотографии, таким как
          композиция, жанры и использование света во время съемки в разных
          условиях. Научу работать со студийным оборудованием, а еще покажу и
          расскажу, как работать с моделью. Также обязательно на курсе коснемся
          темы обработки фотографий, включая работу с программой Adobe
          Photoshop.
        </h3>
      </li>
    </ul>
    <div class="start-time">
      <h4>
        <strong>Начало:</strong>
        <span style="color: #800000;">24&nbsp;червня</span>
        <strong>Количество мест:</strong>
        00
        <strong>Дни:</strong>
        Среда и Пятница
      </h4>
      <h4>
        <strong>Время:</strong>
        с 10:00 до 12:00 (Среда)
        с 11:00 до 13:00 (Пятница)
      </h4>
    </div>
  </div>
</section>
