<section class="section contacts" id="contacts">
  <div class="container">
    <h2 class="section-title visually-hidden">Our contacts</h2>
    <h3>Контактная информация:</h3>
    <div class="contacts list">
      <li class="contacts list__phone">
        <span>Phone: </span>
        <a class="contacts link__phone" href="tel:+380938324504"
          >+38(093)8324504
        </a>
      </li>
      <li class="contacts list__email">
        <span>E-mail: </span>
        <a class="contacts link__email" href="mailto:magurananna@gmail.com"
          >magurananna@gmail.com
        </a>
      </li>
      <li class="contacts list__web">
        <span>Website: </span>
        <a
          class="contacts link__web"
          href="https://annamaguran.com.ua/"
          target="_blank"
          >annamaguran.com.ua
        </a>
      </li>
    </div>
  </div>
</section>
