<footer class="footer" id="footer">
  <div class="container footer__container">
    <div class="footer__adaptive">
      <div class="footer__text">
        <p class="uppertitle">Заходи и присоединяйся</p>
      </div>
      <div class="footer__contact">
        <ul class="social__list">
          <li class="social__item list">
            <a
              href="https://www.instagram.com/mriy_ta_diy_photostudio/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram"
              class="social__link link"
              ><svg class="social__icon" width="15" height="15">
                <use href="./images/svg/sprite.svg#icon-instagram1"></use>
              </svg>
            </a>
          </li>
          <li class="social__item list">
            <a
              href="https://t.me/AnnaMaguran"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              class="social__link link"
              ><svg class="social__icon" width="15" height="15">
                <use href="./images/svg/sprite.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li class="social__item list">
            <a
              href="https://www.facebook.com/magurana"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              class="social__link link"
              ><svg class="social__icon" width="15" height="15">
                <use href="./images/svg/sprite.svg#icon-facebook2"></use></svg
            ></a>
          </li>
          <li class="social__item list">
            <a
              href="https://annamaguran.com.ua/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Web"
              class="social__link link"
              ><svg class="social__icon" width="15" height="15">
                <use href="./images/svg/sprite.svg#web-icon"></use></svg
            ></a>
          </li>
        </ul>
        <div class="footer__copyright">
          <p>&copy; 2023 - AnnaMaguran.</p>
          <p>All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
