<footer class="footer" id="footer">
  <div class="container">
    <div class="footer__adaptive-wrap">
      <div class="footer__text-wrap">
        <p class="uppertitle">Заходи и присоединяйся</p>
      </div>
      <div class="footer__contact-wrap">
        <ul class="social list">
          <li class="social__item list">
            <a
              href="https://www.instagram.com/mriy_ta_diy_photostudio/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram"
              class="social__link link"
              ><svg class="social__icon">
                <use href="/src/images/svg/sprite.svg#icon-instagram1"></use>
              </svg>
            </a>
          </li>
          <li class="social__item list">
            <a
              href="https://t.me/AnnaMaguran"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              class="social__link link"
              ><svg class="social__icon">
                <use href="/src/images/svg/sprite.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li class="social__item list">
            <a
              href="https://www.facebook.com/magurana"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Telegram"
              class="social__link link"
              ><svg class="social__icon">
                <use
                  href="/src/images/svg/sprite.svg#icon-facebook2"
                ></use></svg
            ></a>
          </li>
        </ul>
        <div class="footer__contact">
          <p>
            <span>Свяжись со мной: </span>
            <a class="footer__tel link" href="tel:+380938324504"
              >+38(093)8324504
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
