<section class="section program list" id="program">
  <div class="container program__container">
    <h2 class="program__title">ПРОГРАММА КУРСА:</h2>
    <div class="program__list">
      <h4>
        <li class="program__list--text">
          <strong>Урок 1.</strong> Краткая история фотографии. Знаменитые
          фотографы. Темы и жанры фотографии.
        </li>
        <li class="program__list--text">
          <strong>Урок 2.</strong> Виды фотоаппаратов и их устройство.
          КРОП-матрица и полный кадр. Основные параметры и настройки. Экспозиция
          (диафрагма, выдержка, ISO). Баланс белого. Точки фокусировки.
        </li>
        <li class="program__list--text">
          <strong>Урок 3. </strong>Объективы и их виды. Фокусное расстояние и
          глубина резкости.
        </li>
        <li class="program__list--text">
          <strong>Урок 4. </strong>Крупность плана. Основы композиции. Правило
          третей и золотое сечение. Портретный и пейзажный жанры в
          изобразительном искусстве и фотографии.
        </li>
        <li class="program__list--text">
          <strong>Урок 5. </strong>Цвет, свет и тень. Мягкое и жесткое
          освещение. Основы цветоведения. Светофильтры и другие фотоаксессуары.
        </li>
        <li class="program__list--text">
          <strong>Урок 6. </strong>Студийное освещение. Основы фотопозирования и
          работа с моделью.
        </li>
        <li class="program__list--text">
          <strong>Урок 7. </strong>Знакомство с фоторедактором Lightroom
          (видеоурок).
        </li>
        <li class="program__list--text">
          <strong>Урок 8. </strong>Знакомство с фоторедактором Photoshop
          (видеоурок).
        </li>
        <li class="program__list--text">
          <strong>Урок 9. </strong>Разбор самостоятельной работы.
        </li>
        <li class="program__list--text">
          <strong>Урок 10. </strong>Естественное дневное освещение (видеоурок).
        </li>
        <li class="program__list--text">
          <strong>Урок 11. </strong>
          Естественное вечернее освещение с использованием дополнительного света
          (видеоурок).
        </li>
        <li class="program__list--text">
          <strong>Урок 12. </strong>Студийная съёмка (видеоурок).
        </li>
        <li class="program__list--text">
          <strong>Урок 13. </strong>Разбор сделанных снимков. Рекомендации и
          подготовка к самостоятельной заключительной съемке.
        </li>
        <li class="program__list--text">
          <strong>Урок 14. </strong>
          Самостоятельная съемка по выбранному жанру фотографии.
        </li>
        <li class="program__list--text">
          <strong>Урок 15. </strong>Разбор сделанных снимков. Создание
          продающего портфолио. Продвижение фото и реклама. Ответы на вопросы.
          Рекомендации по окончании курса. Сертификат.
        </li>
      </h4>
    </div>
  </div>
</section>
