<section class="section syllabus" id="syllabus">
  <div class="container syllabus__container">
    <h2 class="syllabus__title">КАК ВСЕ БУДЕТ ПРОХОДИТЬ?</h2>
    <h3>
      <li>просмотр уроков в любое удобное время</li>
      <li>практические домашние задания и рекомендации по их выполнению</li>
      <li>обратная связь по каждому ДЗ</li>
      <li>возможность задавать вопросы преподавателю</li>
      <li>прямые эфиры с разборами вопросов участников</li>
      <li>общий чат для участников фотокурса</li>
      <li>доступ к видеоурокам и прямым эфирам в течение 3х месяцев</li>
      <li>бонусные уроки по парной съемке, мужским и женским портретам</li>
      <li>знакомство с фоторедакторами в Lightroom и Photoshop</li>
      <li>обработка фотографий</li>
      <li>формирование портфолио</li>
      <li>обучение привлечению клиентов через инстаграм</li>
      <li>обучение продвижению своего аккаунта</li>
      <li>рекомендация по окончанию программы</li>
      <li>сертификат в электронном виде об окончании курса</li>
    </h3>
  </div>
</section>
