<section class="section syllabus list" id="syllabus">
  <div class="container syllabus__container">
    <h2 class="syllabus">КАК ВСЕ БУДЕТ ПРОХОДИТЬ?</h2>
    <div class="syllabus__title">
      <div class="syllabus__img">
        <img
          srcset="
            /src/images/picture/picture-mob-1.jpg     450w,
            /src/images/picture/picture-mob-1@2x.jpg  900w,
            /src/images/picture/picture-tabl-1.jpg    354w,
            /src/images/picture/picture-tabl-1@2x.jpg 708w,
            /src/images/picture/picture-desk-1.jpg    370w,
            /src/images/picture/picture-desk-1@2x.jpg 740w
          "
          src="/src/images/picture/picture-mob-1.jpg"
          alt="фотоаппарат 1"
          sizes="(min-width:1200px) 370px, (min-width:768px) 354px, (max-width:767px) 450px, 100vw"
          width="200"
          height="200"
          align="right"
          loading="lazy"
        />
      </div>
      <div>
        <h3>
          <li>- просмотр уроков в любое удобное время</li>
          <li>
            - практические домашние задания и рекомендации по их выполнению
          </li>
          <li>- обратная связь по каждому ДЗ</li>
          <li>- возможность задавать вопросы преподавателю</li>
          <li>- прямые эфиры с разборами вопросов участников</li>
        </h3>
      </div>
    </div>
    <div class="syllabus__title">
      <div class="syllabus__img">
        <img
          srcset="
            /src/images/picture/picture-mob-2.jpg     450w,
            /src/images/picture/picture-mob-2@2x.jpg  900w,
            /src/images/picture/picture-tabl-2.jpg    354w,
            /src/images/picture/picture-tabl-2@2x.jpg 708w,
            /src/images/picture/picture-desk-2.jpg    370w,
            /src/images/picture/picture-desk-2@2x.jpg 740w
          "
          src="/src/images/picture/picture-mob-2.jpg"
          alt="фотоаппарат 2"
          sizes="(min-width:1200px) 370px, (min-width:768px) 354px, (max-width:767px) 450px, 100vw"
          width="200"
          height="200"
          align="left"
          loading="lazy"
        />
      </div>
      <div>
        <h3>
          <li>- общий чат для участников фотокурса</li>
          <li>- доступ к видеоурокам и прямым эфирам в течение 3х месяцев</li>
          <li>
            - бонусные уроки по парной съемке, мужским и женским портретам
          </li>
          <li>- знакомство с фоторедакторами в Lightroom и Photoshop</li>
          <li>- обработка фотографий</li>
        </h3>
      </div>
    </div>
    <div class="syllabus__title">
      <div class="syllabus__img">
        <img
          srcset="
            /src/images/picture/picture-mob-3.jpg     450w,
            /src/images/picture/picture-mob-3@2x.jpg  900w,
            /src/images/picture/picture-tabl-3.jpg    354w,
            /src/images/picture/picture-tabl-3@2x.jpg 708w,
            /src/images/picture/picture-desk-3.jpg    370w,
            /src/images/picture/picture-desk-3@2x.jpg 740w
          "
          src="/src/images/picture/picture-mob-3.jpg"
          alt="фотоаппарат 3"
          sizes="(min-width:1200px) 370px, (min-width:768px) 354px, (max-width:767px) 450px, 100vw"
          width="200"
          height="200"
          align="right"
          loading="lazy"
        />
      </div>
      <div>
        <h3>
          <li>- формирование портфолио</li>
          <li>- обучение привлечению клиентов через инстаграм</li>
          <li>- обучение продвижению своего аккаунта</li>
          <li>- рекомендация по окончанию программы</li>
          <li>- сертификат в электронном виде об окончании курса</li>
        </h3>
      </div>
    </div>
  </div>
</section>
