.about-container {
  display: flex;
  align-items: center;
  &__text {
    width: 700px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--cl-txt-main-pink);
  }
}

.label-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 10px;
}
