.advantages {
  padding: 15px 0;
}

.advantages__container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.advantages__list {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  width: 750px;
}

.advantages__item__text {
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 15px;
}

.start-time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 170px;
  background-color: var(--bgc-btn);

  &.__schedule {
    display: flex;
  }
}

.start-time__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 15px;
  height: 130px;
  width: 230px;
  background-color: var(--bgc-main);
  border-radius: 5%;
  font-size: 67%;
}
