.advantages {
  padding: 15px 0;
}

.advantages__container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.advantages__list {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  width: 750px;
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.advantages__item__text {
  font-size: 15px;
  font-weight: 400;
}

.start-time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 380px;
  height: 270px;
  background-color: var(--bgc-btn);

  &.__schedule {
    display: flex;
  }
}

.start-time__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 15px;
  height: 180px;
  width: 330px;
  background-color: aliceblue;
  border-radius: 5%;
}
