.advantages {
  padding: 15px 0;

  @include mq(desktop) {
    padding-bottom: 30px;
  }
}

.advantages__container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;

  @include mq(desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.advantages__list {
  width: 100%;
  display: flex;

  @include mq(tablet) {
    justify-content: center;
  }
}

.advantages__item {
  width: 750px;
}

.advantages__item__text {
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 15px;

  @include mq(tablet) {
    font-size: 15px;
  }
}

.start-time {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 170px;
  background-color: var(--bgc-btn);

  @include mq(tablet) {
    width: 300px;
    height: 210px;
  }
  @include mq(desktop) {
    width: 460px;
    height: 250px;
  }

  &.__schedule {
    display: flex;
  }
}

.start-time__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 15px;
  height: 130px;
  width: 230px;
  background-color: var(--bgc-main);
  border-radius: 5%;
  font-size: 67%;

  @include mq(tablet) {
    height: 160px;
    width: 260px;
    font-size: 75%;
  }
}
