.contacts.link__phone,
.contacts.link__email,
.contacts.link__url {
  text-decoration: none;
}

.section-title__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts.list__list:not(:last-child) {
  padding-bottom: 10px;
}

.contacts.list__title {
  padding-bottom: 15px;
}

.contacts.list__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

// .contacts.list__list:not(:first-child) {
//   padding-left: 30px;
// }
