.header {
  width: 100vw;
  justify-content: center;
  display: flex;
  top: 0;
  left: 0;

  &__title {
    text-align: center;
    line-height: 1;
    font-size: 17px;
    color: var(--cl-txt-main-pink);
  }
}

.header__container {
  text-align: left;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  position: relative;
}

// ========== navigation ==========

.navigation__list {
  display: none;

  @include mq(desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.navigation__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.navigation__link {
  display: flex;
  align-items: center;

  padding-top: 37px;
  padding-bottom: 37px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.31;

  color: var(--cl-txt-main-pink);
}
