.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1600px;
  height: 550px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-color: var(--back-color);
  text-align: center;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-image: url(/src/images/hero/title.png);
}

.hero__title {
  color: var(--cl-txt-white);
}

.hero__title-text {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.1;
}
