.result {
  height: auto;
}
.container.result__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include mq(desktop) {
    width: 750px;
  }
}

.result__list {
  flex-direction: row;

  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;
  line-height: 1.1;

  @include mq(desktop) {
    width: calc((100% - 4 * 20px) / 2);
    margin: 20px;
    line-height: 1.1;
  }
}

.result__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__icon {
  width: 30px;
  height: 30px;
}

.result__text {
  font-size: 11px;

  @include mq(tablet) {
    font-size: 13px;
  }

  @include mq(desktop) {
    font-size: 14px;
  }
}
