.result {
  height: auto;
}
.container.result__container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.result__list {
  flex-direction: row;

  width: calc((100% - 6 * 30px) / 3);
  margin: 25px;
  line-height: 1.55;

  @media screen and(max-width:1200px) {
    width: calc((100% - 4 * 35px) / 2);
    margin: 30px;
    line-height: 1.1;
  }
}

.result__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container__text {
  font-size: 27px;
  font-weight: 800;
}
