.syllabus {
  padding-bottom: 15px;
}
.syllabus__container {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  @media screen and(min-width:768px) {
    display: flex;
    flex-direction: column;
  }
}

.syllabus__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  font-size: 8.5px;
  @media screen and(min-width:768px) {
    display: flex;
    flex-direction: row;
  }
}

.syllabus__img {
  padding-bottom: 5px;
}
