.syllabus {
  padding-bottom: 15px;
}
.syllabus__container {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.syllabus__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  font-size: 8.5px;
}

.syllabus__img {
  padding-bottom: 5px;
}
