.syllabus__container {
  display: flex;
  flex-direction: column;
}

.syllabus__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  &--group1 {
    width: 100%;
    height: 200px;
    flex-flow: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
  }
  &--group2 {
    width: 100%;
    height: 200px;
    flex-flow: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &--group3 {
    width: 100%;
    height: 200px;
    flex-flow: row-reverse;
    justify-content: space-around;
    display: flex;
    align-items: center;
  }
}
