.section.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer__items {
  width: initial;
  border: 1px solid var(--bgc-second);
  font-size: 48px;
  display: flex;
  justify-content: center;
  border-radius: 100px 100px / 120px;
  background-image: linear-gradient(180deg, var(--bgc-second), var(--bgc-btn));
}

.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
  color: var(--cl-txt-white);
}
.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}
.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
}

.button {
  padding: 10px 32px;
  margin-top: 30px;
  display: inline-block;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  color: var(--cl-txt-white);
  background-color: var(--bgc-btn);
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--bgc-second);
  }
}
